// fonts
$font-main: "Open Sans", sans-serif;

// colors
$color-icon: black;
$color-detail: #e8cd53;
$color-hover: #ca2925;
$color-background: #61e8b5;
$color-font: #555555;
$color-components: white;
