@import "../core/_variables.scss";
@import "../core/mixing.scss";

.header {
  display: flex;
  background: $color-background;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 15px;

  &__img {
    width: 290px;
    margin-top: 20px;
  }
}

.team {
  position: fixed;
  margin-left: 80%;
  margin-top: 1em;

  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  &__img {
    width: 5em;
    margin-top: 0.5em;
  }

  &__title {
    font-size: 0.7em;
    color: $color-icon;
  }
}
