@import "../core/_variables.scss";
@import "../core/mixing.scss";

.header {
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 15px;

  &__img {
    width: 230px;
    margin-top: 20px;

    @include tablet {
      width: 390px;
    }
  }
}

.team {
  position: fixed;
  margin-left: 75%;
  margin-top: 1em;

  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  &__img {
    width: 4.5em;
    margin-top: 0.5em;
    padding-right: 2em;

    @include tablet {
      width: 8em;
      padding-right: 2.3em;
    }
    @include desktop {
      width: 13em;
    }
  }

  &__title {
    font-size: 0.5em;
    margin-right: 25px;
    color: $color-icon;
    @include tablet {
      font-size: 1.1em;
    }
  }
}
