@import "../core/mixing.scss";

.cards {
  display: grid;
  grid-column: 1fr;
  text-align: center;
  column-gap: 0.63rem;
  row-gap: 0.63rem;
}

@include tablet {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
